.logo{
    min-width: fit-content;
}

.logo img{
    width: 10rem;
    margin-right: 0.4rem;
}

.logo > div{
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .logo img{
        width: 7rem;
    }
}

